{% extends "webPages/FrontEnd_ClientView/shop.html" %}
{% load static %}

{% block shopProduct %}
{% for product in products %}

<div class="col-lg-4 col-md-6 col-12 mb-60">
                   
    <div class="product">

        <!-- Image Wrapper -->
        <div class="image">
            <!-- Image -->
            <a href="product-details.html" class="img">
                {% if product.image_base64 %}
                    <img src="data:image/jpeg;base64,{{ product.image_base64 }}" alt="{{ product.itemName }}">
                {% else %}
                    <img src="{% static 'webPages/FrontEnd_ClientView/img/product/default.jpg' %}">
                {% endif %}
            </a>
            <!-- Wishlist -->
            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
            <!-- Label -->
            <span class="label">New</span>
        </div>
        
        <!-- Content -->
        <div class="content">
            
            <!-- Head Content -->
            <div class="head fix">
               
                <!-- Title & Category -->
                <div class="title-category float-left">
                    <h5 class="title"><a href="product-details.html">{{product.itemName}}</a></h5>
                    <a href="../shop" class="category">Catalog</a>
                </div>
                <!-- Price -->
                <div class="price float-right">
                    <span class="new">${{product.basePrice}}</span>
                    <!-- Old Price Mockup If Need -->
                    <!-- <span class="old">$46</span> -->
                </div>
                
            </div>
            
            <!-- Action Button -->
            <div class="action-button fix">
                <a href="#">add to cart</a>
            </div>
            
        </div>

    </div>
    
</div>

{% endfor %}
{% endblock %}